<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="../assets/logo.png">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/responsive.css">
<style>
  body{
    background-color: #f1f7f5;
  }
</style>
</head>
<body>

  <header class="header active">
   <a> <img src="../assets/logo.png" alt="durvah_logo" class="logo" /> </a>
    <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="/home" target="_blank" class="navbar-link">Home</a></li>
        <li><a href="#" target="_blank" class="navbar-link">About</a></li>
        <li><a href="#" target="_blank" class="navbar-link">Services</a></li>
        <li><a href="#" target="_blank" class="navbar-link">Contact</a></li>
      </ul>
    </nav>
    <div class="mobile-navbar-btn">
      <ion-icon name="menu-outline" class="mobile-navbar-icon"></ion-icon>
      <ion-icon name="close-outline" class="mobile-navbar-icon"></ion-icon>
    </div>
  </header>
  <section class="section7"  >
     
    <div class="container" data-aos="fade-right">
      <h3 id="contactus" style="opacity: 0;">text</h3>
      <div class="section7-1" >
        
        <h3 style="text-align: center;" >Contact Us</h3>
        
      </div>
      <div class="section7-2">
        <p style="font-size: 15px;">You can Contact us on below details provided:</p>
      </div>
     
      <div class="section7-4">
        <div class="contents">
         
              <div class="details1">
                <div class="section7-3 contact" id="contact">
                  <form action="/send-email" class="form" method="POST">
                    <input
                      class="form-input"
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Enter Your Name"
                    />
                    <input
                      class="form-input"
                      type="number"
                      name="phone"
                      id="phone"
                      placeholder="Enter Your Number"
                    />
                    <input
                      class="form-input"
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Enter Your Email"
                    />
                    <textarea
                      class="form-input"
                      name="text"
                      id="text"
                      cols="30"
                      rows="10"
                      placeholder="Elaborate Your Concern"
                    ></textarea>
                    <button class="btn btn-sm btn-dark" style="font-size: 15px;">Submit</button>
                  </form>
                </div>
          <div class="further">
                <p>
                   4th Cross Road,  2nd Block, Jayanagar,
                  Bengaluru, Karnataka 560011
                </p>
                <div class="numbers">
                <a href="tel:+919848937493">+919848937493</a>
               
              </div>
                <p>Email to :- durvahit@gmail.com</p>
              


                <div class="location-container">
                  <!-- <a href="https://www.google.co.in/maps/place/2nd+Block/@12.9404945,77.5832148,19.79z/data=!4m6!3m5!1s0x3bae1595c568115d:0x79e4f83b86dc836d!4b1!8m2!3d12.9390244!4d77.5828274?entry=ttu"> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.4748361528905!2d77.58177067484087!3d12.94143908737116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae155223ac004f%3A0x7e174b29ffa82713!2sDurvah%20IT%20Consulting!5e0!3m2!1sen!2sin!4v1720644886092!5m2!1sen!2sin" width="500" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-bottom-2">
      <div class="footer-bottom-2-text">
        <p style="font-size: 20px;">&copy;Copyright 2024 Durvah It Solutions </p>
      </div>
      <div class="footer-bottom-2-next">
       <p style="font-size: 16px;"> Privacy | Terms of Use | Ad Choices & Cookies | SiteMap
       </p>
      </div>
    </div>
    <div class="footer-bottom-1">
      <a
        href="https://wa.me/+919612152820?text=Hello,%20I%20have%20visited%20your%20website%20and%20want%20to%20know%20more%20about%20your%20company?"
        target="_blank"
        class="whatsapp-link"
        ><i class="fa-3x fa-brands fa-whatsapp"></i
      ></a>
    </div>
    <div class="footer-bottom-2">
      <a href="tel:+919089625374" class="whatsapp-link1" id="contactLink"
        ><i class="fa-solid fa-phone"></i
      ></a>
    </div>
  </footer>
  <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 300,
        duration: 1000,
      });
    
    
      
    </script>
    <script src="../public/js/index.js"></script>
</body>
</html>